.recipe-card {
  /* outline: 1px solid red; */
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--peach);
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 0.8rem;

  &:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  }

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h2,
  p,
  .read-like {
    padding: 0 2.5rem;
    text-align: justify;
    button {
      cursor: pointer;
      &:hover {
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
        transform: scale(1.01);
      }
    }
  }

  h2 {
  }

  p {
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .read-like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    button {
      background-color: var(--button);
      border: none;
      padding: 0.625rem 1rem;
      border-radius: 2rem;
      color: var(--white);
    }
    .likes {
      display: flex;
      color: var(--button);
      font-weight: bold;
      svg {
        fill: var(--peach);
        stroke: var(--button);
        width: 18px;
        height: 18px;
      }
      &:hover {
        svg {
          fill: var(--button);
        }
      }
    }
  }
}
