.recipe-card {
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--peach);
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 0.8rem;

  &:hover {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
  }

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h2,
  p,
  div.read-like {
    padding: 0 2.5rem;
  }

  p {
    --line-height: 1.5;
    line-height: var(--line-height);
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(var(--line-height) * 5 * 1rem);
  }

  div.read-like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    button.read-recipe-button {
      background-color: var(--button);
      border: none;
      padding: 0.625rem 1rem;
      border-radius: 2rem;
      color: var(--white);
      &:hover {
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
        transform: scale(1.01);
      }
    }

    div.likes {
      display: flex;
      align-items: center;
      cursor: pointer;
      button.like {
        color: var(--button);
        font-weight: bold;
        display: flex;
        align-items: center;
        background-color: var(--peach);

        &.animate {
          svg {
            transform: scale(1.2);
          }
        }
        &:hover {
          svg {
            fill: var(--button);
          }
        }

        svg {
          transition: transform 0.2s ease;
          fill: var(--peach);
          stroke: var(--button);
          width: 25px;
          height: 25px;
          margin-right: 2px;
        }
        svg.liked {
          fill: var(--button);
        }
      }
    }
  }
}
